# Node Modules directory
node_modules/

# Output directory
output/

# Docker app directory
app/

# dotenv environment variable files
.env
.env.development.local
.env.test.local
.env.production.local
.env.local
